<!DOCTYPE html>
<html ng-app="tmog" lang="en">
<head>
    <title>USPTO | TMOG Search</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1"/>
    
    <!--START OF SCRIPTS-->
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- TMOG styles-->
    <link type="text/css" rel="stylesheet" href="css/main.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/search.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/review.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/single.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
    <link type="text/css" rel="stylesheet" href="js/lib/imageZoom/image-zoom.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css"
          media="screen"/>
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/eog-ie.css"/>
    <![endif]-->
    <!--HEADER CSS-->
    <link rel="stylesheet" type="text/css" href="uhf/css/uspto-header-styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="uhf/images/icons/favicon.ico">
    <link rel="icon" type="image/png" href="uhf/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="uhf/images/icons/favicon-16x16.png" sizes="16x16">

    <!--END OF SCRIPTS-->

</head>
<body>

<!--USPTO STANDARD HEADER-->
<div id="usptoGlobalHeader">
    <div class="uspto-header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <a href="http://www.uspto.gov" target="_blank" class="uspto-logo"
                       title="United States Patent and Trademark Office - An Agency of the Department of Commerce"></a>

                    <div class="pull-right" id="uspto-header-links">
                        <span><a href="http://www.uspto.gov/about-us" target="_blank">About Us</a></span><span><a
                            href="http://www.uspto.gov/careers" target="_blank">Careers</a></span><span><a
                            href="http://www.uspto.gov/about-us/contact-us" target="_blank">Contact Us</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uspto-header-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <span>Trademark Official Gazette</span>
                </div>
            </div>
        </div>
    </div>
</div>

<noscript>
    <style type="text/css">
        .noJsHide {
            display: none;
        }
    </style>
    <div class="noscriptmsg">To use the TMOG successfully, please note the following requirements:</br></br>
        We’re sorry, you must have javascript enabled in your browser. Please be sure javascript is enabled and try
        again.
    </div>
</noscript>

<!-- SUB-HEADER (bread crumbs and horizontal nav) -->
<div id="header-gray" class="noJsHide">
    <div class="">
        <div class="site-crumbs">
            <a href="http://www.uspto.gov/trademarks" target="_blank"> Trademarks</a> / <a href="#"
                                                                                            onclick="homePage()">Trademark
            Official Gazette</a>
			
			
        </div>
    </div>
    <div class="clear"></div>
</div>

<div ng-controller="TabsCtrl" id="tabsetNav" ng-cloak>

<div class="tabHeader">
    <ul class="nav nav-justified" aria-label="Application Tabs" role="tablist">
        <!-- SEARCH TAB -->
        <li ng-click="setView('review', 'tile')" ng-keypress="($event.which === 13)?setView('review', 'tile'):0"
            ng-class="{active: view.view == 'review'}" class="searchTabHeader" role="tab"
            aria-label="Search / Review Tab" tabindex="0">
            <a>Search</a>
        </li>

        <!-- MY LIST TAB -->
        <li ng-click="setView('myList', 'list')" ng-keypress="($event.which === 13)?setView('myList', 'list'):0"
            ng-class="{active: view.view == 'myList'}" role="tab" aria-label="My List Tab" tabindex="0">
            <a>
                <span class="badge pull-right collectionCount"> {{ myListCount }} </span> My List
            </a>
        </li>

        <!-- RESOURCES TAB -->
        <li ng-click="setView('resources')" ng-keypress="($event.which === 13)?setView('resources'):0"
            ng-class="{active: view.view == 'resources'}" role="tab" aria-label="Resources Tab" tabindex="0">
            <a>Help&nbsp;/&nbsp;Resources</a>
        </li>
    </ul>
</div>

<!-- info and warning messaging -->
<div ng-cloak class="messageContainer" aria-label="Alert Message Container">
    <div ng-repeat="success in alertSrvc.alert.success" class="alert alert-success alert-dismissable" role="alert"
         aria-label="Success Message">
        <button type="button" class="close" aria-hidden="true"
                ng-click="alertSrvc.dismiss('success', success)">&times;</button>
        {{success.text}}
    </div>

    <div ng-repeat="info in alertSrvc.alert.info" class="alert alert-info alert-dismissable" role="alert"
         aria-label="Alert Message">
        <button type="button" class="close" aria-hidden="true"
                ng-click="alertSrvc.dismiss('info', info)">&times;</button>
        {{info.text}}
    </div>

    <div ng-repeat="warn in alertSrvc.alert.warning" class="alert alert-warning alert-dismissable" role="alert"
         aria-label="Warning Message">
        <button type="button" class="close" aria-hidden="true"
                ng-click="alertSrvc.dismiss('warning', warn)">&times;</button>
        {{warn.text}}
    </div>

    <div ng-repeat="error in alertSrvc.alert.error" class="alert alert-danger alert-dismissable" role="alert"
         aria-label="Error Message">
        <button type="button" class="close" aria-hidden="true"
                ng-click="alertSrvc.dismiss('error', error)">&times;</button>
        {{error.text}}
    </div>
</div>
<div class="tabBodyExternal">

    <!-- REVIEW TAB -->
    <div ng-controller="ReviewCtrl" ng-show="view.view == 'review'" id="reviewTab">
        <h1 ng-hide="view.subview === 'case'" class="viewTitle">Search Results</h1>

        <h1 ng-show="view.subview === 'case'" class="viewTitle">Case Details</h1>

        <!-- sidebar filter groups -->
        <!-- todo split it and hit it -->
        <div ng-hide="view.subview === 'case'">
            <ng-include src="'js/app/sidebar/sidebar-filters-review.html'"></ng-include>
        </div>

        <!-- results container for pagination, filter crumbs, action btns, and customize field btn -->
        <div ng-hide="view.subview === 'case'" class="sitewide-search">

            <!-- CONTROLS (Pagination, Filter Crumbs, Action Buttons, Grid Sort, Custom Columns Link -->
            <div id="tableControls">
                <!-- page settings, prev, records count, next, go to record, list/grid icons -->
                <og-pagination tab-name="review"></og-pagination>

                <!-- FILTER CRUMBS -->
                <og-filter-crumbs filter-sidebar="review"></og-filter-crumbs>

                <!-- Action Buttons for Share All Results, Reviewed, Add To My List -->
                <div class="actionButtons">

                    <span>
                        <button type="button" class="shareResults btn btn-primary btn-share share right"
                                aria-label="email issue" title="Email Results"
                                ng-click="shareSearch($event, 'review')">
                            <span class="glyphicon glyphicon-envelope"></span> Email All Results
                        </button>
                    </span>

                    <!-- show add to list and reviewed action buttons once case is selected -->
                    <div ng-show="isCaseSelected(cases.cases)">
                        <button type="button" class="btn btn-addToList btn-hidden" aria-label="Add to My List"
                                title="Add to My List"
                                ng-click="addToMyList($event)">
                            <span class="glyphicon glyphicon-plus"></span> Add to My List
                        </button>
                    </div>
                </div>

                <!-- custom fields button and modal -->
                <og-customize-case-fields tab-name="review"></og-customize-case-fields>
            </div>

            <!-- Review Tile -->
            <div class="reviewTileWrapper">
                <div ng-controller="ReviewTileCtrl" ng-show="view.subview == 'tile'">
                    <ng-include src="'js/app/common/review-tiles.html'"></ng-include>
                </div>

                <!-- Action Buttons for Share All Results, Reviewed, Add To My List -->
                <div class="actionButtons">

                    <span>
                        <button type="button" class="shareResults btn btn-primary btn-share share right"
                                aria-label="email issue" title="Email Results"
                                ng-click="shareSearch($event, 'review')">
                            <span class="glyphicon glyphicon-envelope"></span> Email All Results
                        </button>
                    </span>

                    <!-- show add to list and reviewed action buttons once case is selected -->
                    <div ng-show="isCaseSelected(cases.cases)">
                        <button type="button" class="btn btn-addToList btn-hidden" aria-label="Add to My List"
                                title="Add to My List"
                                ng-click="addToMyList($event)">
                            <span class="glyphicon glyphicon-plus"></span> Add to My List
                        </button>
                    </div>
                </div>

                <!-- BOTTOM PAGINATION (Page Length, Next/Prev Page, Go To Record -->
                <div ng-hide="searching" class="bottomPagination">
                    <og-pagination tab-name="review" bottom="true"></og-pagination>
                </div>
            </div>

            <!-- Searching Indicator -->
            <div ng-show="searching" id="loadingRecords">
                <img src="images/loading.gif" height="60" alt="Loading eOG Records">

                <p>Loading eOG Records</p>
            </div>

        </div>

        <!-- SINGLE CASE VIEW -->
        <div ng-show="view.subview == 'case'" ng-controller="CaseCtrl">
            <ng-include src="'js/app/review/single-case.html'"></ng-include>
        </div>

    </div>

    <!-- MY LIST TAB -->
    <div ng-controller="MyListCtrl" ng-show="view.view == 'myList'" id="myListTab">
        <div class="fullWidthLayout">
            <h1 class="viewTitle"> My List </h1>

            <div class="pagination-wrapper">
                <span class="totalCountCollection tableInfo">Showing <strong>{{myListCount}}</strong> record(s)</span>
            </div>

            <!-- action buttons - refresh, share, and save -->
            <div class="actionButtons">
                <button type="button" class="refreshCollection btn btn-secondary"
                        aria-label="remove from my list" title="Remove From My List"
                        ng-click="refreshMyList()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>

                <span>
                    <button type="button" class="share btn btn-primary btn-share right shareCollection"
                            aria-label="email collection" title="Email Results"
                            ng-click="shareMyList($event, col)"> Email
                    </button>
                </span>

                <button id="saveCollection" type="button" class="btn btn-primary btn-download right"
                        aria-label="download my list" title="download pdf"
                        ng-click="downloadMyList()"> Download
                </button>
            </div>

            <!-- custom fields button and modal. My List has same prefs as review -->
            <og-customize-case-fields tab-name="myList"></og-customize-case-fields>

            <div class="reviewTileWrapper">
                <ng-include src="'js/app/common/review-tiles.html'"></ng-include>
            </div>

        </div>
    </div>

    <!-- RESOURCES TAB -->
    <ng-include src="'js/app/resources/resources-tab.html'"></ng-include>

</div>

</div>

<!-- CONTENT CONTAINER -->
<div class="sitewide-search noJsHide">

    <div id="offPage">
        <div id="grayToolTip">
            <div class="gtTipArrow">
                <img src="images/grayToolTipArrow.png" height="16" width="23" alt="Tool Tip"/>
            </div>
            <div class="gtTipContent"></div>
        </div>
    </div>

    <!-- placeholder space for when the footer snaps back to the bottom -->
    <div class="clear"></div>
</div>
<div class="clear"></div>

<!-- WARNING, DON'T CHANGE - The USPTO standard footer begins with div#footer-site and shouldn't change without the Web Group's approval. -->
<div id="usptoAppFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="uspto-footer-top col-sm-12">
                <div class="uspto-footer-logo col-sm-10">
                    <a class="logo" href="http://www.uspto.gov/"
                       title="United States Patent and Trademark Office - An Agency of the Department of Commerce">
                        <span class="sr-only">United States Patent and Trademark Office - An Agency of the Department of Commerce</span>
                    </a>
                </div>
                <div class="uspto-footer-watermark col-sm-2"
                     title="United States Patent and Trademark Office - An Agency of the Department of Commerce">
                    <span class="sr-only">United States Patent and Trademark Office - An Agency of the Department of Commerce</span>
                </div>
            </div>
            <div class="uspto-footer-middle col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-topic"> Browse By Topic <i
                            class="icon icon-sort-desc icon-inverse"></i></button>
                </div>
                <div class="uspto-footer-column col-sm-3 collapse navbar-collapse" id="navbar-collapse-topic">
                    <h2>Browse By Topic</h2>
                    <ul>
                        <li><a href="http://www.uspto.gov/patent">Patents</a></li>
                        <li><a href="http://www.uspto.gov/trademark">Trademarks</a></li>
                        <li><a href="http://www.uspto.gov/learning-resources">Learning &amp; Resources</a></li>
                        <li><a href="http://www.uspto.gov/about-us">About the USPTO</a></li>
                        <li><a href="http://www.uspto.gov/learning-and-resources/glossary">Glossary</a></li>
                        <li><a href="http://www.uspto.gov/careers">Careers</a></li>
                        <li><a href="http://www.uspto.gov/about-us/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-about"> About This Site <i
                            class="icon icon-sort-desc icon-inverse"></i></button>
                </div>
                <div class="uspto-footer-column col-sm-3 collapse navbar-collapse" id="navbar-collapse-about">
                    <h2>About This Site</h2>
                    <ul>
                        <li><a href="http://www.uspto.gov/using-usptogov/accessibility-uspto-website">Accessibility</a>
                        </li>
                        <li><a href="http://www.uspto.gov/privacy-policy">Privacy Policy</a></li>
                        <li><a href="http://www.uspto.gov/terms-use-uspto-website">Terms of Use</a></li>
                        <li><a href="http://www.uspto.gov/about-us/security">Security</a></li>
                        <li><a href="http://www.uspto.gov/blog/ebiz/ ">Systems Status</a></li>
                        <li><a href="http://www.uspto.gov/sitemap">Site Map</a></li>
                    </ul>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-uspto"> USPTO Background <i
                            class="icon icon-sort-desc icon-inverse"></i></button>
                </div>
                <div class="uspto-footer-column col-sm-3 collapse navbar-collapse" id="navbar-collapse-uspto">
                    <h2>USPTO Background</h2>
                    <ul>
                        <li>
                            <a href="http://www.uspto.gov/about-us/performance-and-planning/federal-activities-inventory-reform-fair-act">Federal
                                Activity Inventory Reform Act (FAIR)</a></li>
                        <li><a href="http://www.uspto.gov/about-us/performance-and-planning">USPTO Budget and
                            Performance</a></li>
                        <li>
                            <a href="http://www.uspto.gov/learning-and-resources/ip-policy/electronic-freedom-information-act-e-foia">Freedom
                                of Information Act</a></li>
                        <li><a href="http://www.uspto.gov/learning-and-resources/information-quality-guidelines">Information
                            Quality Guidelines</a></li>
                    </ul>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-federal"> Federal Government <i
                            class="icon icon-sort-desc icon-inverse"></i></button>
                </div>
                <div class="uspto-footer-column col-sm-3 collapse navbar-collapse" id="navbar-collapse-federal">
                    <h2>Federal Government</h2>
                    <ul>
                        <li><a href="http://www.regulations.gov" target="_blank">Regulations.gov<span class="ext"><span
                                class="sr-only"> (link is external)</span></span></a></li>
                        <li><a href="http://www.stopfakes.gov" target="_blank">StopFakes.gov<span class="ext"><span
                                class="sr-only"> (link is external)</span></span></a></li>
                        <li><a href="http://www.usa.gov" target="_blank">USA.gov<span class="ext"><span class="sr-only"> (link is external)</span></span></a>
                        </li>
                        <li><a href="http://www.commerce.gov" target="_blank">Department of Commerce<span
                                class="ext"><span class="sr-only"> (link is external)</span></span></a></li>
                        <li>
                            <a href="http://www.uspto.gov/learning-and-resources/ip-policy/enforcement/strategy-targeting-organized-piracy-stop">Strategy
                                Targeting Organized Piracy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Libraries and Plug-ins -->
<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/lib/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.ba-bbq.js"></script>
<script type="text/javascript" src="bower_components/angular-image-zoom/dist/image-zoom.js"></script>

<!-- Angular Module tmog -->
<script type="text/javascript" src="js/app/tmog-public.js"></script>

<!-- Review Module -->
<script type="text/javascript" src="js/app/review/CaseCtrl.js"></script>
<script type="text/javascript" src="js/app/review/ReviewCtrl.js"></script>
<script type="text/javascript" src="js/app/review/reviewCompletedSrvc.js"></script>

<!-- MyList Module -->
<script type="text/javascript" src="js/app/myList/MyListCtrl.js"></script>
<script type="text/javascript" src="js/app/myList/myListSrvc.js"></script>

<!-- Resources Module -->
<script type="text/javascript" src="js/app/resources/ResourcesCtrl.js"></script>

<!-- Data Module -->
<script type="text/javascript" src="js/app/data/data.js"></script>
<script type="text/javascript" src="js/app/data/log.js"></script>

<!-- Angular Controllers -->
<script type="text/javascript" src="js/app/common/TabsCtrl.js"></script>
<script type="text/javascript" src="js/app/review/ReviewCtrl.js"></script>
<script type="text/javascript" src="js/app/common/ReviewTileCtrl.js"></script>
<script type="text/javascript" src="js/app/review/CaseCtrl.js"></script>

<!-- Sidebar Module -->
<script type="text/javascript" src="js/app/sidebar/filtersSrvc.js"></script>
<script type="text/javascript" src="js/app/sidebar/filtersRulesSrvc.js"></script>
<script type="text/javascript" src="js/app/sidebar/sidebarModelSrvc.js"></script>

<!-- Prefs Module -->
<script type="text/javascript" src="js/app/preference/customizePrefsSrvc.js"></script>

<!-- Angular Services -->
<script type="text/javascript" src="js/app/common/viewSrvc.js"></script>
<script type="text/javascript" src="js/app/common/alertSrvc.js"></script>
<script type="text/javascript" src="js/app/common/shareEmailSrvc.js"></script>
<script type="text/javascript" src="js/app/data/Properties.js"></script>

<!-- Angular Filters -->
<script type="text/javascript" src="js/app/common/Filters.js"></script>

<!-- Angular Directives -->
<script type="text/javascript" src="js/app/common/Directives.js"></script>

<!-- GOOGLE ANALYTICS -->
<script type="text/javascript" src="js/analytics/gsa-ga.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';

    _gaq.push( //USPTO.gov:
            ['_require', 'inpage_linkid', pluginUrl], // Enhanced Link Attribution
            ['_setAccount', 'UA-21265023-1'],
            ['_setDomainName', '.uspto.gov'],
            ['_gat._anonymizeIp'],
            ['_setVisitorCookieTimeout', 15552000000],
            ['_trackPageview'],
            ['_setSiteSpeedSampleRate', 1]
    );

    _gaq.push( //TMOG:
            ['t2._setAllowAnchor', true],
            ['t2._require', 'inpage_linkid', pluginUrl], // Enhanced Link Attribution
            ['t2._setAccount', 'UA-21265023-2'],
            ['t2._setDomainName', '.uspto.gov'],
            ['t2._gat._anonymizeIp'],
            ['t2._setVisitorCookieTimeout', 15552000000],
            ['t2._trackPageview'],
            ['t2._setSiteSpeedSampleRate', 1]
    );

    (function () { //call Google
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript" src="js/analytics/eog-ga.js"></script>

<!-- Application Domain and Utility Classes -->
<script type="text/javascript" src="js/app/TmogController.js"></script>

<script>
    function homePage() {
        window.location = window.location.href.split('#')[0];
    }
    var tmog = new TmogController();

    $(document).ready(function onReady() {
        tmog.init();
    });
</script>

</body>
</html>